<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revenew project</title>
</head>
<body>
    <h2>Carga de datos</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Mostramos el formulario a rellenar -->
        {{ form.as_p }}
        <!-- Botón para ejecutar la optimización -->
        <button type="submit">Ejecutar optimización</button>
    </form>
</body>
</html>